page-home {

    .bg-blue{
        background: #3C6E8E;
    }

    .text{
        font-size: 16px;
        line-height: 18px;
    }

    .button{
        border: 1px solid #000;
        display: block;
        margin: 0 auto;
    }

}
